.button {
  margin-bottom: 40px;
  margin-top: 10px;
}

.container {
  background-color: lightblue;
}

.intro {
  padding-bottom: 10px;
}

.liLook {
  font-weight: bold;
  font-size: 20px;
}

/* .result {
 display: none
} */

li {
  display: none;
}

h1 {
  padding-bottom: 10px;
}

h3 {
  padding-bottom: 10px;
}

h4 {
  padding-bottom: 10px;
}

form {
  margin-left: 75px;
  margin-right: 75px;
}

ul {
  list-style-type: none;
}
